.navbar {
  display: flex;
  gap: 20px;
  padding: 20px;
}

.navbar a {
  text-decoration: none;
  color: blue;
  font-size: 20px;
}

.navbar a:hover {
  color: red;
}

.navbar a.active {
  color: green;
  font-weight: bold;
}